

.header-text{
    text-align: center;
    color: #b7cb52;
    
}
.card{
    text-align: center;
}
.button{
    background-color: #b7cb52; /* Green */
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
