

.header-text{
    text-align: center;
    color: #b7cb52;
    
}
.card{
    text-align: center;
}
.button{
    background-color:rgba(0, 0, 0, 0.795); /* Green */
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.section{
    color: white;
}

